language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

install:
  - pip install coveralls

script:
  - python vdftest.py
  - "coverage run --source=PyVDF vdftest.py"
after_success:
  coveralls